body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.for-header-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/Header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main-section {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: left;
    padding-bottom: 200px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.col-1 {
    width: 60%;
    position: relative;
}


.left-line {
    border-left: 2px solid rgb(191, 146, 91);
}



.col-1 h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191, 146, 91)
}

.col-1 span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 50px;

}

.col-1 p {
    font-size: 16px;
    color: white;
    margin: 30px 0;
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;

}



.col-1 h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191, 146, 91)
}

.col-1 h3 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 20px 0 10px;
    text-transform: uppercase;
    color: white;
}

button {
    width: 190px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    margin-left: 10%;
    color: rgb(191, 146, 91);
    border: 1px solid rgb(191, 146, 91);
    background: transparent;
    text-transform: uppercase;
    border-radius: 1px;
    cursor: pointer;
    transition: width 0.5s;

}

button:hover {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .main-section {
        padding-left: 30px;
        padding-top: 40px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}