.container-services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}



.container-services .container-service {
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-services .container-service div.img-services-img {
    margin: 0;
    position: absolute;
    top: -30px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container-services .container-service div img {
    width: 180px;
    height: 180px;
    clip-path: circle();
    object-fit: cover;
}

.container-services-1,
.container-services-2 {

    background-color: #bf925b;

}



.container-services-2 {
    background-color: #b78649;
}

@media screen and (max-width:850px) {
    .container-services {

        flex-direction: column;

    }

    .container-services .container-service {
        height: 400px;
    }
}

.container-services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}



.container-services .container-service {
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-services .container-service div.img-services-img {
    margin: 0;
    position: absolute;
    top: -30px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container-services .container-service div img {
    width: 180px;
    height: 180px;
    clip-path: circle();
    object-fit: cover;
}

.container-services-1,
.container-services-2 {

    background-color: #bf925b;

}



.container-services-2 {
    background-color: #b78649;
}

@media screen and (max-width:850px) {
    .container-services {

        flex-direction: column;

    }

    .container-services .container-service {
        height: 400px;
    }
}